:root {
    --body-bgcolor: white;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--body-bgcolor);
    height: 95vh;
}

.title {
    text-align: center;
    font-weight: 300;
    font-size: 5vh;
}

.board {
    cursor: pointer;
    height: 65vh;
    margin-top: 0.5em;
    margin-bottom: 1em;
    background-color: blue;
    display: inline-flex;
    border: solid black 1px;
    padding: 0.5em;
    border-radius: 3%;
}

@media (orientation: portrait) {
    .board {
        height: auto;
        width: 90vw;
    }
}

.board-col {
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.cell {
    aspect-ratio: 1 / 1;
    flex-grow: 1;
    padding: 7%;
    background-color: blue;
}

.slot {
    aspect-ratio: 1 / 1;
    flex-grow: 1;
    background-color: var(--body-bgcolor);
    border-radius: 50%;
    border: 1px solid black;
}

.slot-highlight-red {
    border: none;
    outline: 4px solid red;
}

.slot-highlight-yellow {
    border: none;
    outline: 4px solid yellow;
}

.message {
    text-align: center;
    font-size: 2vh;
}