:root {
    --body-bgcolor: white;
    --cell-size: 60px;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--body-bgcolor);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-weight: 300;
}

.game-board {
    margin-top: 0.5em;
    margin-bottom: 1em;
    background-color: blue;
    display: inline-flex;
    border: solid black 1px;
    padding: 0.5em;
    border-radius: 3%;
}

.game-col {
    display: flex;
    flex-direction: column-reverse;
}

.cell {
    padding: 0.3em;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: blue;
}

.hole {
    background-color: var(--body-bgcolor);
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 50%;
    border: 1px solid black;
}

.results {
    text-align: center;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}