:root {
    --body-bgcolor: white;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--body-bgcolor);
    height: 95vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-weight: 300;
    font-size: 5vh;
}

.game-board {
    height: 65vh;
    margin-top: 0.5em;
    margin-bottom: 1em;
    background-color: blue;
    display: inline-flex;
    border: solid black 1px;
    padding: 0.5em;
    border-radius: 3%;
}

.game-col {
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.cell {
    aspect-ratio: 1 / 1;
    flex-grow: 1;
    padding: 0.3em;
    background-color: blue;
}

.hole {
    aspect-ratio: 1 / 1;
    flex-grow: 1;
    background-color: var(--body-bgcolor);
    border-radius: 50%;
    border: 1px solid black;
}

.results {
    text-align: center;
}