.board {
  border-radius: 3%;
  box-sizing: border-box;
  background-color: blue;
  padding: 0.3em 0.6em;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  align-items: center;
}
