.cell {
  aspect-ratio: 1;
  padding: 0.4em;
  min-width: 20px;
  background-color: blue;
}

.counter {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.counter-empty {
  background-color: white;
}

.counter-0 {
  background-color: red;
}

.counter-1 {
  background-color: yellow;
}
